[submodule "src/pconfigure"]
	path = src/pconfigure
	url = git://github.com/palmer-dabbelt/pconfigure.git
[submodule "src/tek"]
	path = src/tek
	url = git://github.com/palmer-dabbelt/tek.git
[submodule "src/libflo"]
	path = src/libflo
	url = git://github.com/palmer-dabbelt/libflo.git
[submodule "src/vcddiff"]
	path = src/vcddiff
	url = git://github.com/palmer-dabbelt/vcddiff.git
[submodule "src/flo-llvm"]
	path = src/flo-llvm
	url = git://github.com/palmer-dabbelt/flo-llvm.git
[submodule "src/flo-mwe"]
	path = src/flo-mwe
	url = git://github.com/palmer-dabbelt/flo-mwe.git
[submodule "src/libocn"]
	path = src/libocn
	url = git://github.com/palmer-dabbelt/libocn.git
[submodule "src/dreamer-par"]
	path = src/dreamer-par
	url = git://github.com/palmer-dabbelt/dreamer-par.git
[submodule "src/libdrasm"]
	path = src/libdrasm
	url = git://github.com/palmer-dabbelt/libdrasm.git
[submodule "src/vcd2step"]
	path = src/vcd2step
	url = git://github.com/palmer-dabbelt/vcd2step.git
[submodule "src/chisel-benchmarks"]
	path = src/chisel-benchmarks
	url = git://github.com/palmer-dabbelt/chisel-benchmarks.git
[submodule "src/chisel-torture"]
	path = src/chisel-torture
	url = git://github.com/palmer-dabbelt/chisel-torture.git
