[submodule "src/pconfigure"]
	path = src/pconfigure
	url = git://github.com/palmer-dabbelt/pconfigure.git
[submodule "src/tek"]
	path = src/tek
	url = git://github.com/palmer-dabbelt/tek.git
[submodule "src/libflo"]
	path = src/libflo
	url = git://github.com/palmer-dabbelt/libflo.git
